/* .unEatenList,
.eatenList{
border: solid;
border-color: black;
border-width: 5px;
margin: 50px, 20px, 20px, 20px;

} */

.individualBurgerItem{
    background-color: whitesmoke;
}
.burgerPic{
max-width: 300px;
max-height: 300px;
}

body{
    background-color: #FED16D;
}

.burgerItem{
background-color: whitesmoke;
padding-left: 5px;
margin: 4px;
}
#burgerTxt{
    width: 300px
    ;
}